{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}



{% block body %}

    <div class="tm-header">
        <div class="container-fluid">
            <div class="tm-header-inner">
                <a href="#" class="navbar-brand tm-site-name titleApp">Vanilla</a>

                <!-- navbar -->
                {{ include('menu.html.twig') }}


            </div>
        </div>
    </div>

    <div class="tm-home-img-container">
        <img src="images/tm-large-home-resized.jpg" alt="Image" class="img-fluid">
    </div>

    <section class="tm-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                    <h2 class="tm-gold-text tm-title">Bonjour et bienvenue! </h2>
                    <p class="tm-subtitle">Vous avez des difficultés à trouver un stage ? Ce site annexe de votre
                        collège est là pour vous !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Exemples de stages des années précédentes :</h4>
                </br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/boulanger.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                        <h4 class="tm-margin-b-20 tm-gold-text">Boulanger</h4>
                        <p class="tm-margin-b-20">Rue du Bois des Saint-Pères (77240, Cesson)</p>
                        <a href="#" class="tm-btn text-uppercase">Détails</a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/creperie.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                        <h4 class="tm-margin-b-20 tm-gold-text">A la Crêperie de l’Avenue</h4>
                        <p class="tm-margin-b-20">18 avenue du Général Patton (77000, Melun)</p>
                        <a href="#" class="tm-btn text-uppercase">Détails</a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/GO.png" alt="Image" class="tm-margin-b-20 img-fluid">
                        <h4 class="tm-margin-b-20 tm-gold-text">Général d’Optique </h4>
                        <p class="tm-margin-b-20">Centre Commercial Boissénart (77240, Cesson)</p>
                        <a href="#" class="tm-btn text-uppercase">Détails</a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/pain_g.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                        <h4 class="tm-margin-b-20 tm-gold-text">Le Pain Gourmand</h4>
                        <p class="tm-margin-b-20">47 avenue Georges Pompidou (77000, Melun)</p>
                        <a href="#" class="tm-btn text-uppercase">Détails</a>
                    </div>

                </div>
            </div> <!-- row -->
{% endblock %}





