{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}



{% block body %}

    <div class="tm-header">
        <div class="container-fluid">
            <div class="tm-header-inner">
                <a href="/" class="navbar-brand tm-site-name titleApp">Vanilla</a>

                <!-- navbar -->
                <nav class="navbar tm-main-nav">

                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#tmNavbar">
                        &#9776;
                    </button>

                    <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item active">
                                <a href="{{ path('indexProfesseur') }}" class="nav-link">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('listeEntrepriseProfesseur') }}" class="nav-link">Liste des entreprises</a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('listeUser') }}" class="nav-link">Liste des eleve</a>
                            </li>
                            <li class="nav-item">
                                <a href="/aide" class="nav-link">Aide</a>
                            </li>
                        </ul>
                    </div>

                </nav>


            </div>
        </div>
    </div>

    <div class="tm-home-img-container">
        <img src="images/tm-large-home-resized.jpg" alt="Image" class="img-fluid">
    </div>

    <section class="tm-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                    <h2 class="tm-gold-text tm-title">Bonjour et bienvenue dans le site d'aide à la recherche de stage </h2>
                    <br class="tm-subtitle">Vous avez des difficultés à trouver un stage ? Ce site annexe de votre
                    collège est là pour vous !  </br>
                    Sur se site vous pouvez:</br></br>

                    Indiquer que vous avez trouvez un stage</br>
                    Voir la liste des entreprises qui recherchent des stagières</br>
                    Ajouter l'entrperise et le tuteur de votre stage</br>

                    </p>
                </div>
            </div>
            <div class="row text-md-center">
                <div class="col-md-12">
                    <h4>Exemples de stages des années précédentes :</h4>
                    </br>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/boulanger.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                        <!-- Bouton execution modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Information sur le stage
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Boulanger</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Boulanger est une enseigne française spécialisée dans le loisir, le multimédia et l'électroménager </br>
                                            Ce stage à parmis de faire découvrir aux stagières précents </br>
                                        <ul>
                                            <li> La vente et la relation client </li>
                                            <li> Les caractéristiques d'objets multimédia </li>
                                            <li> La Réparation d'objet multimédia </li>
                                            <li> La gestion de stock </li>
                                        </ul>
                                        </p>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/creperie.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                        <!-- Bouton execution modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Information sur le stage
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">creperie</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>La creperie est un restaurant servant des crèpes artisanal </br>
                                            Ce stage à parmis de faire découvrir aux stagières précents </br>
                                        <ul>
                                            <li>Service/ prise de commande</li>
                                            <li>Relation client </li>
                                            <li>Faire la caisse </li>
                                            <li>élaboration de recette </li>
                                        </ul>
                                        <img src="3etoiles.png">
                                        </p>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-content-box">
                        <img src="images/pain_g.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                        <!-- Bouton execution modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Information sur le stage
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Boulangerie</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>La boulangerie est un stage aux horraires scpécifique < /br>
                                            Ce stage à parmis de faire découvrir aux stagières précents < /br>
                                        <ul>
                                            <li>Fabrication du pain </li>
                                            <li> Vente aux clients </li>
                                            <li> Compatage de la caisse </li>
                                            <li> Gestion de matière première farines ect ect </li>
                                        </ul>
                                        <img src="5etoiles.png">
                                        </p>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                </div>
                </div> <!-- row -->
            </div>
    </section>
    <footer class="tm-footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="tm-footer-content-box">
                        <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Pour nous contacter, voici nos coordonnées. </h3>
                        <div class="tm-gray-bg">
                            <p> Collège LES CAPUCINS.</p>
                            <p> 77000 MELUN .</p>
                            <p>Route de Voisenon .</p>
                            <p><strong>Tél : 01 60 68 69 30</strong></p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="tm-footer-content-box tm-footer-links-container">

                        <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Articles les plus vus </h3>
                        <nav>
                            <ul class="nav">
                                <li><a href="#" class="tm-footer-link">Organigramme du collège</a></li>
                                <li><a href="#" class="tm-footer-link">Le projet du Réseau Éducation Prioritaire Renforcé - REP+ CAPUCINS</a></li>
                                <li><a href="#" class="tm-footer-link">Les menus du service de restauration scolaire</a></li>
                                <li><a href="#" class="tm-footer-link">Sortie au Sénat</a></li>

                            </ul>
                        </nav>

                    </div>

                </div>

                <!-- Add the extra clearfix for only the required viewport
                    http://stackoverflow.com/questions/24590222/bootstrap-3-grid-with-different-height-in-each-item-is-it-solvable-using-only
                -->
                <div class="clearfix hidden-lg-up"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-footer-content-box">

                        <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Nos associations</h3>
                        <p class="tm-margin-b-30"> L’association sportive .</p>
                        <hr class="tm-margin-b-30">
                        <p class="tm-margin-b-30">Le Foyer socio-éducatif.</p>
                        <hr class="tm-margin-b-30">
                        <p class="tm-margin-b-30">Radio Capucins .</p>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    <div class="tm-footer-content-box">

                        <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Nos Gallerie</h3>
                        <div class="tm-margin-b-30">
                            <img src="images/tm-img-100x100-1.jpg" alt="Image" class="tm-footer-thumbnail">
                            <img src="images/tm-img-100x100-2.jpg" alt="Image" class="tm-footer-thumbnail">
                            <img src="images/tm-img-100x100-3.jpg" alt="Image" class="tm-footer-thumbnail">
                            <img src="images/tm-img-100x100-4.jpg" alt="Image" class="tm-footer-thumbnail">
                            <img src="images/tm-img-100x100-5.jpg" alt="Image" class="tm-footer-thumbnail">
                            <img src="images/tm-img-100x100-6.jpg" alt="Image" class="tm-footer-thumbnail">
                        </div>
                        <p class="tm-margin-b-20">Vous trouverez ici les photos conçernant la vie du collèges.</p>


                    </div>

                </div>


            </div>

            <div class="row">
                <div class="col-xs-12 tm-copyright-col">
                    <p class="tm-copyright-text">Copyright 2018 Collége les Capucins Melun</p>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}


